body {
  color: rgb(44, 42, 42);
  text-align: justify;
  font-family: Arial;
  font-size: 16px;
  margin: 0;
  padding: 5%;
}

#cabecera {
  background: #ddd0b3;
  color: grey;
  margin: auto;
  padding: 0.5em;
  font-weight: bold;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.75);
}

#tagline {
  margin: 0 0 0 1em;
  font-weight: normal;
  font-size: 0.8em;
}

#container {
  width: 70%;
  padding: 1rem;
  text-align: justify;
  border: 1px solid #dddddd;
  /* margin: auto; */
}
#container h1 {
  font-size: 20px;
}
